<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div align="center">
		<h4>Please wait..</h4>
		<label id="codeId" th:text="${code}" hidden="true"></label>
		<label id="appId" th:text="${appId}" hidden="true"></label>
		<label id="appSecret" th:text="${appSecret}" hidden="true"></label>
	</div>
	<script src="/webjars/jquery/1.9.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	var code = "";
	var appId = "";
	var appSecret = "";
		$(document).ready(function() {
			code = document.getElementById("codeId").textContent;
			appId = document.getElementById("appId").textContent;
			appSecret = document.getElementById("appSecret").textContent;
			window.close();
		});
		jQuery(document).ready(function(){  
	        opener.CallParent(code, appId, appSecret);
	    });
	</script>
</body>
</html>