<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin | Instagram</title>
<link href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<div class="row" style="padding: 20px;">
		<form action="admin" method="post">
			<div class="form-group">
				<label for="usr">App ID:</label> <input type="text"
					class="form-control" name="appId" placeholder="Input App ID here.."
					value="">
			</div>
			<div class="form-group">
				<label for="pwd">App Secret:</label> <input type="password"
					class="form-control" name="appSecret"
					placeholder="Input App Secret here.."
					value="">
			</div>
			<button type="submit" class="btn btn-success">
				<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
				Next
			</button>
		</form>
	</div>
	<!-- <div class="fb-login-button" data-size="small" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false"></div>
	<fb:login-button scope="manage_pages,publish_pages,instagram_basic,instagram_manage_comments" onlogin="checkLoginState();">
</fb:login-button>
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=376575612769500&autoLogAppEvents=1"></script> -->
	<script src="/webjars/jquery/1.9.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<!-- <script type="text/javascript">
	function checkLoginState() {
		  FB.getLoginStatus(function(response) {
		    // statusChangeCallback(response);
		    console.log(response);
		  });
		}
	</script> -->
</body>
</html>